.about-image {
    width: 50%;
    height: auto;
}

.container-about-description {
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 2rem;
}

.about-video-container {
    

}

.about-video-container img {
    width: auto;
    height: 100%;
    overflow: hidden;
}

@media(max-width: 450px) {
    .about-image {
        width: 100%;
    }

    .container-about-description {
        margin: 5px;
        padding: 10px;
    }

    .about-video-container img {
        width: 100%;
        opacity: 0.3;
        position: fixed;
        display: flex;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        justify-content: end;
    }

}