.container-about {
    min-height: 100vh;
    display: flex;
    align-items: end;
}

@media(max-width: 639px) {
    .container-about {
        display: flex;
        align-items: center;
        padding-top: 10rem;
    }

}