.container-navbar{
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 100;
    padding-top: 2rem;
    min-height: 25%;
}
.container-navbar-content{
    background: transparent;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    gap: 45%
}
@media(max-width:450px){
    .container-navbar-content{
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }
}


