.container-navbar{
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 100;
    min-height: 25%;
}
.container-navbar-content-half{
    background: transparent;
    padding-right: 50px;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    width: auto;
    padding-top: 2rem!important;
    gap: 45%
}
@media(max-width:450px){
    .container-navbar-content-full{
        padding: 10px 10px!important;
    }
}
.container-navbar-content-full{
    background: transparent;
    padding: 50px 150px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
}

