.custom-navbar{
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container-navbar{
    position: fixed;
    width: 100%;
    padding-top: 10rem;
}


