// Importa i tuoi file parziali
@import 'variables';
@import 'mixins';
@import 'sidebar';
@import 'video';



/* sass --watch _main.scss output.css */

// Stili globali
body {
    font-family: $font-primary;
    color: $color-dark;
    background-color: $color-background !important;
    line-height: 1.6;
}

p {
    font-family: $font-secondary;
}

.container {
    background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-weight: bold !important;
}


a {
    color: $color-light-dark;
    text-decoration: none;
}

a:hover {
    color: $color-dark;
}

// Classi di animazione
.slide-from-left {
    @include slide-in-from-left;
}

.slide-from-right {
    @include slide-in-from-right;
}

.fade-in {
    @include fade-in;
}

.scale-up {
    @include scale-up;
}

// Classi utilità
.button {
    padding: 10px 20px;
    background-color: $color-dark;
    color: $color-background;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 7px 5px -1px $color-light-dark;

    &:hover {
        background-color: $color-background;
        color:$color-light-dark;
        box-shadow: 5px 7px 5px -1px $color-light-dark;
    }
}

.button-nav {
    padding: 8px 15px;
    background-color: transparent;
    box-shadow: 0px 2px 0px -1px $color-light-dark;
    color: $color-dark;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease; 

    &:hover {
        color:$color-dark;
        box-shadow: 5px 7px 5px -1px $color-light-dark;

    }
}
.empty-button-nav {
    padding: 8px 15px;
    background-color: transparent;
    box-shadow: 2px 5px 2px -1px $color-light-dark;
    color: $color-background;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease; 

    &:hover {
        background-color: transparent;
        color:$color-background;
    }
}

.empty-button {
    padding: 10px 20px;
    background-color: $color-background;
    color: $color-dark;
    border: none;
    border-radius: 20px;
    border: 1px solid $color-light-dark;
    cursor: pointer;
    transition: all 0.3s ease;


    &:hover {
        background-color: $color-dark;
        color:$color-background;
    }
}
.input {
    background-color: $color-background;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $color-light-dark; 
    min-width: 250px;
    transition: border-color 0.3s ease; 
}

.input:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $color-dark; 
}
.text-center{
    text-align: center;
}
.small-title {
    font-size: $text-small-title;
}

.medium-title {
    font-size: $text-medium-title;

}

.big-title {
    font-size: $text-large-title;

}

.very-big-title {
    font-size: $text-extra-large-title;

}

.small-p {
    font-size: $text-small-p
}

.medium-p {
    font-size: $text-medium-p
}

.big-p {
    font-size: $text-large-p
}

.very-big-p {
    font-size: $text-extra-large-p;
}


