// _sidebar.scss

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 1s ease; 
    z-index: 1;

    &.expanded {
        opacity: 1;
    }
    .content-sidebar {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        color: white;
    }
}