.work-video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.work-video-container video {
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-work-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 50px;
}

.card-related-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.lazy-load-image-background {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

.related-image {
    width: 50%;
    height: auto;
    margin: 20px;
}
@media(max-width: 639px) {
    .related-image {
        width: 100%;
       
    }
    .card-work-text{
        width: 100%;
    }
    .work-video-container video {
        width: 100%;
    }
    
}
