.nav-logo{
    width: 150px;
}
.container-log{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.sidebar-logo{
    z-index: 2;
    position: relative;
    font-size: 40px;
}
.nav-links{
    cursor: pointer;
}
.nav-links-works{
    cursor: pointer;
    z-index: 150;
    color: rgb(140, 138, 138);

}
.social-icon{
    color: white;
    font-size: 28px;
    cursor: pointer;
}
.container-social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
}
.content-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.arrow-down{
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px!important; 
}